@model WorkflowManagement.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <h1>@Model.Username</h1>
        <h2>@Model.Password</h2>
    </div>
</body>
</html>
